.logo {
    display: flex;
    justify-content: center;
    gap: 2.4rem;
    margin-top: 3.2rem;
}

.logoLink {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: bold;
    font-size: 4.2rem;
    gap: 0.4rem;
    text-decoration: none;
    color: var(--primary);
    transition: all 0.2s ease-in-out;
}

.logoLink:hover {
    filter : brightness(50%);
}

.logoLink svg {
    width: 6.4rem;
    height: 6.4rem;
}